USE [master]
GO
/****** Object:  Database [MiniChatAppDB]    Script Date: 05/05/2025 19:21:39 ******/
CREATE DATABASE [MiniChatAppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniChatAppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MiniChatAppDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiniChatAppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MiniChatAppDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniChatAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniChatAppDB]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 05/05/2025 19:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[ContentType] [nvarchar](300) NULL,
	[SenderID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[SendTime] [datetime] NULL,
 CONSTRAINT [PK__Message__3213E83FA1A9349D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userTable]    Script Date: 05/05/2025 19:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[UserName] [nvarchar](300) NULL,
 CONSTRAINT [PK__userTabl__3213E83F7CA9DFAB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__userTabl__C9F28456DF555277] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__Receive__3D5E1FD2] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[userTable] ([id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__Receive__3D5E1FD2]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__SenderI__3C69FB99] FOREIGN KEY([SenderID])
REFERENCES [dbo].[userTable] ([id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__SenderI__3C69FB99]
GO
/****** Object:  StoredProcedure [dbo].[AddNewMessage]    Script Date: 05/05/2025 19:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AddNewMessage]
		@Content nvarchar(MAX),
		@ContentType nvarchar(300),
		@SenderID int ,
		@ReciverID int ,



		@InsertedID int output

	as
	begin

	insert into Message 
	Values(@Content,@ContentType,@SenderID,@ReciverID,GetDate());
	set @InsertedID=SCOPE_IDENTITY();

	end




GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 05/05/2025 19:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddNewUser]
		@Name nvarchar(300),
		@UserName nvarchar(300),
		@InsertedID int output

	as
	begin

	insert into userTable 
	Values(@Name,@UserName);
	set @InsertedID=SCOPE_IDENTITY();

	end
GO
/****** Object:  StoredProcedure [dbo].[GetMessagesBetweenTowUsers]    Script Date: 05/05/2025 19:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetMessagesBetweenTowUsers]
		@CurrentUserID int ,
		@OtherUserID int
	as
	begin
		
		Select * from Message where SenderID in (@CurrentUserID,@OtherUserID) and ReceiverID in (@CurrentUserID,@OtherUserID)

	
	

	end
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 05/05/2025 19:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetUsers]
	as
	begin

	select * from userTable ;
	

	end
GO
USE [master]
GO
